.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }
  
  .login-card {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .login-header h2 {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.85);
  }
  
  .login-header p {
    color: rgba(0, 0, 0, 0.45);
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    margin-bottom: 10px;
  }
  
  .login-form-register {
    text-align: center;
  }

  
  .aaaa-table {
    height: 100%;
    padding-left: 20px;
  }

  .aaaa-table .ant-descriptions-view span {
    /* height: calc(100% - 44px); */
    font-size: 20px;
  }

  .aaaa-table .ant-descriptions-view {
    height: calc(100% - 400px);
    margin-top: 25%;
  }

  .aaaa-table .ant-descriptions-view table {
    height: 100%;
  }

  .text-a {
    font-size: 16px;
    line-height: 50px;
  }

.gradient-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;    /* 垂直居中 */
  width: 100%; /* 容器高度设为视口高度 */
}

.gradient {
  text-align: center;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #39d353, #ff6b00);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
